

*{
margin: 0;
font-family:'Courier New', Courier, monospace;
color: #f2f2f2;}

body{
  background-color: #22272e;
}

hr{
  color: #f2f2f2;
}
.navbar{
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  
}

.navbar h1{
  color: #f2f2f2;
  font-size: xx-large;
}

.navbar a{
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #f2f2f2;
}
.navbar a:hover{
  color: bisque;
}

.create-btn{
  color: "blue";
  background-color:"#333";
  height: 20px;
  width: 10px;
  border-radius:'8px';
}

.conntent{
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.preview{
  padding: 20px 16px ;
  margin: 20px 0;
  border-bottom: 1px solid  #f2f2f2;
}

.preview:hover{
  box-shadow: 1px 3px 5px rgba(87, 87, 87, 0.3);
}

.preview h2 {
  font-size: 20px;
  color : #f2f2f2;
  margin-bottom: 8px;
}

.NotesList .btn-del{
  background-color: #333;
  color: #f2f2f2;
  border-radius: 5px;
  border: 3px solid #f2f2f2;
  font-size:medium;
  padding: 3px;
}
.NotesList .btn-del:hover{
  background-color: #dc3545;
  color: #f2f2f2;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}
.NotesList h3{
  font-size: medium;
}
/* page details */
.note-details h2{
  font-weight: bold;
  font-size: x-large;
}
.note-details p{
  padding: 5px;
  margin: 20px 0;
  font-size: larger;
}

/* create */

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f2f2f2;
  margin-bottom: 30px;
}

.create input,
.create textarea{
  color: #333;
  font-size: large;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create button {
  background-color: #333;
    color: #f2f2f2;
    border-radius: 5px;
    border: 3px solid #f2f2f2;
    font-size: medium;
    margin: 10px;
    padding: 10px;
}
.create button:hover {
    background-color: #1976da;
    color: #f2f2f2;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}


.spinner-container{
  height: 50px;
  width: 50px;
  padding: 10px;
  margin-left: 45%;
}
.paddings{
  width: 100px;
  padding: 10px;
  padding-right: 5px;
  
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  align-self: center;
  margin: 5;
  width: 30px;
  height: 30px;
  border: 6px solid #f2f2f2; 
  border-top: 6px solid #383636; 
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}